.sign-in {
	padding: 1rem;
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;

	@include media($tablet) {
		padding: 2rem;
	}

	&__wrapper {
		display: flex;
		flex-direction: column;

		@include media($lg) {
			flex-direction: row;
			justify-content: center;
		}
	}

	// ! Promo
	&__promo {
		position: relative;
		width: 100%;
		display: flex;
		justify-content: center;
		background-color: $blue;
		color: $white;
		border-radius: 1.5rem;
		overflow: hidden;
		order: 2;
		z-index: 0;

		@include media($lg) {
			max-width: 60rem;
			margin-right: 8.2rem;
			order: 1;
		}

		@include media($xxl) {
			max-width: 80rem;
			margin-right: 8.2rem;
		}

		&:before,
		&:after {
			content: '';
			display: none;
			width: 100%;
			height: 100%;
			position: absolute;
			background-size: cover;
			background-repeat: no-repeat;
			z-index: -1;

			@include media($tablet) {
				display: block;
			}
		}

		&:before {
			top: -0px;
			left: -0px;
			background-image: url("./../images/graphics_top.png");
		}

		&:after {
			bottom: -100px;
			right: 0;
			background-image: url("./../images/graphics_bottom.png");
		}

		&-slider {
			display: flex;
			justify-content: center;
			z-index: 1;
			height: 100%;
		}

		.slider {
			text-align: center;
			padding: 14rem 0;

			@include media($tablet) {
				padding: 14rem 0;
			}

			@include media($lg) {
				padding: 14rem 0;
			}

			@include media($xls) {
				padding: 10rem 0;
			}

			@include media($xl) {
				padding: 10rem 0;
			}

			@include media($xxl) {
				padding: 18.6rem 0 21.4rem;
			}
		}

		.slider__card {
			display: flex;
			flex-direction: column;
			align-items: center;
			cursor: pointer;

			&-wrapper {
				display: block;
				@include padding-hack(52.4%, cover);
				background: gray;
				width: 28rem;
				margin-bottom: 10.5rem;

				@include media($s375) {
					width: 28rem!important;
					@include padding-hack(46%, cover);
				}

				@include media($s414) {
					width: 35rem!important;
					@include padding-hack(50%, cover);
				}

				@include media($tablet) {
					width: 512px!important;
					@include padding-hack(40.7%, cover);
					margin-bottom: 8rem;
					box-shadow: 0 5rem 5rem 2rem rgba(0, 46, 123, 0.7);
				}

				@include media($lg) {
					width: 40rem!important;
					@include padding-hack(52.2%, cover);
					margin-bottom: 8rem;
				}

				@include media($xls) {
					width: 45rem;
					margin-bottom: 8rem;
					@include padding-hack(52.2%, cover);
				}

				@include media($xl) {
					width: 512px!important;
					margin-bottom: 8rem;
					@include padding-hack(50%, cover);
				}

				@include media($xxl) {
					margin-bottom: 10.5rem;
					@include padding-hack(37.4%, cover);
				}
			}

			&-title {
				font-size: $s20;
				font-weight: 600;
				line-height: 26px;
				text-transform: capitalize;
				margin-bottom: 1rem;

				@include media($xxl) {
					margin-bottom: 1.5rem;
				}
			}

			&-text {
				font-weight: 600;
				line-height: 24px;
				z-index: 2;
			}
		}

		.pagination {
			bottom: 2%;
			transform: translateY(-50%);

			@include media($xl) {
				bottom: 3rem;
			}

			@include media($xxl) {
				bottom: 12.2rem;
			}
		}

		.swiper-pagination-bullets .swiper-pagination-bullet {
			background-color: rgba($white, .4);
			margin: 0 4.5rem 0 0;

			&:last-child {
				margin: 0;
			}

			&-active {
				background: $white;
			}
		}
	}

	// ! Form

	&__form {
		order: 1;

		@include media($tablet) {
			padding-top: 3rem;
		}

		@include media($lg) {
			width: 42rem;
			order: 2;
		}

		@include media($xl) {
			width: 42rem;
		}

		@include media($xxl) {
			order: 2;
		}

		&-logo {
			display: flex;
			margin-bottom: 3rem;

			@include media($xxl) {
				margin-bottom: 11rem;
			}
		}

		.heading {
			margin-bottom: 3rem;

			@include media($tablet) {
				margin-bottom: 6rem;
			}

			&__title {
				font-size: $s28;
				font-weight: bold;
				line-height: 34px;
				margin-bottom: 1rem;

				@include media($tablet) {
					margin-bottom: 1.5rem;
				}
			}

			&__text {
				font-size: $base-size;
				font-weight: 600;
				line-height: 24px;
			}

			&__link {
				font-weight: bold;
				display: inline-block;
				color: $blue;
				margin-left: 1rem;
				transition: color .3s ease-in-out;

				&:hover {
					color: #0A4AB6;
				}
			}
		}

		.form__password,
		.form__email {
			position: relative;
			display: flex;
			flex-direction: column;
			margin-bottom: 3rem;

			&-label {
				display: flex;
				justify-content: space-between;
				font-weight: 600;
				margin-bottom: .5rem;

				@include media($tablet) {
					margin-bottom: 1.4rem;
				}
			}

			.invalid {
				position: absolute;
				top: 0;
				right: 0;
				display: block;
				font-size: 12px;
				font-weight: 400;
				line-height: 24px;
				color: $red;
			}

			.hidden {
				display: none;
			}

			&-input {
				min-height: 5.4rem;
				border: 1px solid $silver-input;
				outline: none;
				border-radius: 8px;
				padding: 0 18.6rem 0 2rem;
				transition: border-color .3s ease-in-out;

				&:focus-visible {
					border-color: $blue;
				}
			}

			.error {
				border-color: $red;
			}

			.valid {
				border-color: $green;
			}

			&-link {
				display: block;
				position: absolute;
				top: 70%;
				right: 2rem;
				transform: translateY(-50%);
				color: $silver;
				transition: color .3s ease-in-out;

				&:hover {
					color: $dark;
				}
			}
		}

		&-btn {
			width: 100%;
			font-size: $s16;
			font-weight: 600;
			color: $white;
			background-color: $blue;
			border: none;
			border-radius: 8px;
			box-shadow: 0 10px 30px 0px rgba($blue, 0.7);
			text-align: center;
			padding: 1.7rem 0;
			margin-bottom: 10rem;
			cursor: pointer;
			transition: all .3s ease-in-out;

			@include media($tablet) {
				margin-bottom: 8rem;
			}

			@include media($lg) {
				width: 100%;
				max-width: 42rem;
			}

			@include media($xls) {
				margin-bottom: 8rem;
			}

			@include media($xl) {
				margin-bottom: 8rem;
			}

			@include media($xxl) {
				margin-bottom: 22rem;
			}

			&:hover {
				background-color: $blue-hover;
			}

			&:active {
				background-color: $blue;
			}
		}

		.disabled {
			background-color: $silver;
			box-shadow: none;
			cursor: not-allowed;

			&:hover {
				background-color: $silver;
			}
		}

		.info {
			display: flex;
			margin-bottom: 3rem;

			@include media($lg) {
				margin-bottom: 0;
			}

			&__item {
				margin-right: 2.5rem;

				&:last-child {
					margin-right: 0;
				}
			}

			&__link {
				display: block;
				font-size: $base-size;
				font-weight: 600;
				color: $gray;
				text-transform: capitalize;
				transition: color .3s ease-in-out;

				&:hover {
					color: $dark;
				}
			}
		}
	}
}
