.sign-in {
	padding: 1rem;
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;

	@include media($xxl) {
		padding: 2rem 12rem 2rem 2rem;
	}

	.wrapper {
		display: flex;
		flex-direction: column;

		@include media($xxl) {
			display: flex;
			flex-direction: row;
		}
	}

	&__slider {
		position: relative;
		width: 100%;
		max-width: 80rem;
		background: $blue;
		color: $white;
		border-radius: 1.5rem;
		padding: 1rem;
		overflow: hidden;
		order: 2;
		z-index: 1;

		@include media($xxl) {
			order: 1;
			margin-right: 8rem;
		}

		&:before,
		&:after {
			content: '';
			display: none;
			position: absolute;
			width: 100%;
			height: 100%;
			z-index: 0;

			@include media($tablet) {
				display: block;
			}
		}

		&:before {
			top: 0;
			left: 0;
			background: url("./../images/graphics_top.png") no-repeat;
		}

		&:after {
			bottom: -86%;
			right: -69%;
			transform: translate(-50%, -50%);
			background: url("./../images/graphics_bottom.png") no-repeat;

			@include media($tablet) {
				display: block;
			}
		}

		.swiper-container {
			width: 600px;
			height: 300px;
		}

		.pagination {
			width: 13rem;
			height: 1rem;
			bottom: 3rem;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 3;

			@include media($tablet) {
				bottom: 12rem;
			}

			.swiper-pagination-bullet-active {
				background: $white;
			}

			.swiper-pagination-bullet {
				background: $silver;
				margin-right: 4.5rem;

				&:last-child {
					margin-right: 0;
				}
			}
		}

		&-card {
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 10rem 0;
			z-index: 3;
			cursor: pointer;

			@include media($tablet) {
				padding: 18.5rem 0 21.4rem;
			}
		}

		.wrapper__img {
			max-width: 51.2rem;
			@include padding-hack(56.4%, cover);
			margin-bottom: 5rem;
			z-index: 2;

			@include media($tablet) {
				@include padding-hack(41%, cover);
				box-shadow: 0 5rem 5rem 2rem rgba(0, 46, 123, 0.7);
				margin-bottom: 10rem;
			}

			@include media($xxl) {
				@include padding-hack(38.4%, cover);
			}
		}

		&-title {
			font-size: $s20;
			font-weight: 600;
			line-height: 26px;
			text-transform: capitalize;
			margin-bottom: 1rem;
			z-index: 2;

			@include media($tablet) {
				margin-bottom: 1.5rem;
			}
		}

		&-text {
			font-weight: 600;
			line-height: 24px;
			z-index: 2;
		}
	}

	&__form {
		order: 1;

		@include media($tablet) {
			padding-top: 3rem;
		}

		@include media($xxl) {
			order: 2;
		}

		&-logo {
			display: flex;
			margin-bottom: 3rem;

			@include media($tablet) {
				margin-bottom: 11rem;
			}
		}

		.heading {
			margin-bottom: 3rem;

			@include media($tablet) {
				margin-bottom: 6rem;
			}

			&__title {
				font-size: $s28;
				font-weight: bold;
				line-height: 34px;
				margin-bottom: 1rem;

				@include media($tablet) {
					margin-bottom: 1.5rem;
				}
			}

			&__text {
				font-size: $base-size;
				font-weight: 600;
				line-height: 24px;
			}

			&__link {
				font-weight: bold;
				display: inline-block;
				color: $blue;
				margin-left: 1rem;
				transition: color .3s ease-in-out;

				&:hover {
					color: #0A4AB6;
				}
			}
		}

		.form {

			&__password,
			&__email {
				position: relative;
				display: flex;
				flex-direction: column;
				margin-bottom: 3rem;

				&-label {
					display: flex;
					justify-content: space-between;
					font-weight: 600;
					margin-bottom: .5rem;

					@include media($tablet) {
						margin-bottom: 1.4rem;
					}
				}

				.invalid {
					position: absolute;
					top: 0;
					right: 0;
					display: block;
					font-size: 12px;
					font-weight: 400;
					line-height: 24px;
					color: $red;
				}

				.hidden {
					display: none;
				}

				&-input {
					min-height: 5.4rem;
					border: 1px solid $silver-input;
					outline: none;
					border-radius: 8px;
					padding: 0 18.6rem 0 2rem;
					transition: border-color .3s ease-in-out;

					&:focus-visible {
						border-color: $blue;
					}
				}

				.error {
					border-color: $red;
				}

				.valid {
					border-color: $green;
				}

				&-link {
					display: block;
					position: absolute;
					top: 70%;
					right: 2rem;
					transform: translateY(-50%);
					color: $silver;
					transition: color .3s ease-in-out;

					&:hover {
						color: $dark;
					}
				}
			}

			.disabled {
				background-color: $silver;
				box-shadow: none;
				cursor: not-allowed;

				&:hover {
					background-color: $silver;
				}
			}

			&__btn {
				width: 100%;
				font-size: $s16;
				font-weight: 600;
				color: $white;
				background-color: $blue;
				border: none;
				border-radius: 8px;
				box-shadow: 0 10px 30px 0px rgba($blue, 0.7);
				text-align: center;
				padding: 1.7rem 0;
				margin-bottom: 10rem;
				cursor: pointer;
				transition: all .3s ease-in-out;

				@include media($tablet) {
					margin-bottom: 22rem;
				}

				@include media($lg) {
					max-width: 42rem;
					margin-bottom: 22rem;
				}

				&:hover {
					background-color: $blue-hover;
				}

				&:active {
					background-color: $blue;
				}
			}
		}

		.info {
			display: flex;
			margin-bottom: 3rem;

			@include media($lg) {
				margin-bottom: 0;
			}

			&__item {
				margin-right: 2.5rem;

				&:last-child {
					margin-right: 0;
				}
			}

			&__link {
				display: block;
				font-size: $base-size;
				font-weight: 600;
				color: $gray;
				text-transform: capitalize;
				transition: color .3s ease-in-out;

				&:hover {
					color: $dark;
				}
			}
		}
	}
}
