// Colors:
$white: 				#FFFFFF;
$black: 				#000000;
$dark: 					#333333;
$gray: 					#75777A;
$silver: 				#C6D0E0;
$silver-input: 	#E0E5E9;
$blue: 					#065BEA;
$blue-hover: 		#0451D2;
$green: 				#6FCF97;
$red: 					#FF4B26;

// Size:
$base-size: 		1.4rem;
$s16: 					1.6rem;
$s20: 					2rem;
$s28: 					2.8rem;

// Media:

// Fonts:
$base-font: 'Montserrat', sans-serif;
